target/
!.mvn/wrapper/maven-wrapper.jar
/index.css

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Others ###
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store
.env

### Debug / Output files ###
*.err
*.out
*.txt

### Uploaded files ###
uploads/

### Python test scripts ###
app.py
requirements.txt
